.tarneeb__page {
  width: 96vw;
  margin: auto;
  background-color: #fefbd8;
  height: 90vh;
}
.tarneeb__page h1 {
  background-color: #80ced6;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tarneeb__page h1 img {
  width: 2%;
  height: 2%;
  margin-left: 3%;
}
.tarneeb__app {
  width: 85%;
  border: 1px solid black;
  display: flex;
  margin: auto;
  margin-top: 1.5%;
}
.tarneeb__room {
  width: 55%;
}
.room_player {
  width: 12%;
  margin: auto;
  border-radius: 40% 40% 0% 0%;
  margin-top: 1%;
  cursor: pointer;
}
.room_player:hover {
  -webkit-box-shadow: 7px 11px 33px 3px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 7px 11px 33px 3px rgba(0, 0, 0, 0.63);
  box-shadow: 7px 11px 33px 3px rgba(0, 0, 0, 0.63);
}
.room_player img {
  width: 100%;
  margin: auto;
  margin: auto;
  border-radius: 40% 40% 0% 0%;
}
.room_player h3 {
  margin-left: 5%;
  color: #80ced6;
}
.room__player-table {
  display: flex;
}
.room__player-table #table {
  width: 45%;
}
.room__player-table .room_player {
  margin: auto;
}

@media only screen and (max-width: 420px) {
  .tarneeb__page {
    min-width: 89vw;
    margin: auto;
    background-color: #fefbd8;
    min-height: 100vh;
  }
  .tarneeb__page h1 img {
    width: 14%;
    height: 14%;
  }
}
